/* primary header */
.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  max-height: 3.5rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: hsl(var(--clr-primary-300));
}

.primary-navigation {
  font-family: "Lato", "helvetica", "sans-serif";
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}


@media (max-width: 768px) {
  .primary-header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: hsl(var(--clr-primary-300));
    z-index: 999;
  }
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 104px 0 0 0;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    background-color: hsl(var(--clr-primary-300));
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .primary-navigation a > span[aria-hidden="true"] {
    display: none;
  }
}

@media (min-width: 768px) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 8vw, 10rem);
  }
}

@media (max-width: 768px) {
  .primary-navigation {
    --gap: 4em;
    padding-block: 2rem;
    padding-inline: clamp(3rem, 8vw, 10rem);
  }
}

/* */

nav {
  float: right;
  transition: opacity 0.35s ease 0.75s;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  display: inline-block;
  position: relative;
}

.nav-link {
  display: block;
  position: relative;
  transition: color 0.35s ease;
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 33px;
  }
  .logo-container {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .nav-link:hover {
    /* color: white; */
    transition: color 0.35s ease;
  }

  .nav-link::after,
  .nav-link::before {
    content: "";
    position: absolute;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
    bottom: 0px;
  }

  .nav-link:before {
    background-color: hsl(var(--clr-dark-brown));
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  }

  .nav-link:after {
    background-color: hsl(var(--clr-brown));
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
  }
  .nav-link:hover:before,
  .nav-link:hover:after {
    width: 100%;
  }
}

nav {
  float: right;
  transition: opacity 0.35s ease 0.75s;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  display: inline-block;
  position: relative;
}

.nav-link {
  display: block;
  position: relative;
  transition: color 0.35s ease;
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 33px;
  }
  .logo-container {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .nav-link:hover {
    /* color: white; */
    transition: color 0.35s ease;
  }

  .nav-link::after,
  .nav-link::before {
    content: "";
    position: absolute;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
    bottom: 0px;
  }

  .nav-link:before {
    background-color: hsl(var(--clr-accent-300));
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  }

  .nav-link:after {
    background-color: hsl(var(--clr-accent-400));
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
  }
  .nav-link:hover:before,
  .nav-link:hover:after {
    width: 100%;
  }
}


/*  =================
    movile nav taggle
    ================= */

.mobile-nav-toggle {
	display: none;
}

@media (max-width: 768px) {
	.mobile-nav-toggle {
		display: block;
		position: fixed;
		top: 28px;
		right: 28px;
		margin-left: -10px;
		text-align: center;
		font-size: 0px;
		z-index: 9999;
		color: inherit !important;
		height: 45px;
		width: 45px;
		cursor: pointer;
		z-index: 1000;
		// pointer-events: none;
		-webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
		-moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
		transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
		background: white;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}
}




.mobile-nav-toggle .icon {
	position: absolute;
	top: 50%;
	right: 50%;
	-webkit-transform: translate(50%, -50%);
	-moz-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	-o-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
	-moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
	transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

@media (max-width: 768px) {
	.mobile-nav-toggle[aria-expanded="true"] .icon {
		-webkit-transform: translate(50%, -1px);
		-moz-transform: translate(50%, -1px);
		-ms-transform: translate(50%, -1px);
		-o-transform: translate(50%, -1px);
		transform: translate(50%, -1px);
	}
}

.mobile-nav-toggle .line {
	float: right;
	clear: right;
	height: 2px;
	background: #1c1b20;
	-webkit-transition: -webkit-transform 800ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, background 150ms linear 0ms;
	-moz-transition: -moz-transform 800ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, background 150ms linear 0ms;
	transition: transform 800ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, background 150ms linear 0ms;
	-webkit-transition: all 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
	-moz-transition: all 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
	transition: all 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.mobile-nav-toggle .line:nth-child(1) {
	width: 16px;
}

.mobile-nav-toggle[aria-expanded="true"] .line:nth-child(1) {
	width: 20px !important;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mobile-nav-toggle .line:nth-child(2) {
	width: 20px;
}

.mobile-nav-toggle[aria-expanded="true"] .line:nth-child(2) {
	width: 20px !important;
	margin-top: -2px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.mobile-nav-toggle .line:nth-child(3) {
	width: 12px;
}

.mobile-nav-toggle[aria-expanded="true"] .line:nth-child(3) {
	width: 0px;
}

.mobile-nav-toggle .line+.line {
	margin-top: 2px;
}

.mobile-nav-toggle[aria-expanded="true"] .txt {
	opacity: 0;
}


