<header class="primary-header flex">
	<div>
		<img src="/static/assets/blog-images/logo.svg" class="logo">
	</div>

	<button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
		<span class="sr-only">Menu</span>
	</button>

	<nav>
		<ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
			<li class="active">
				<a href="{{url_for('blog')}}" class="text-dark-gray uppercase">
					<span aria-hidden="true">01</span>POSTS
				</a>
			</li>
			<li>
				<a href="{{url_for('category')}}" class="text-dark-gray uppercase">
					<span aria-hidden="true">02</span>CATEGORY
				</a>
			</li>
			<li>
				<a href="#" class="text-dark-gray uppercase">
					<span aria-hidden="true">03</span>TAGS
				</a>
			</li>
			<li>
				<a href="#" class="text-dark-gray uppercase">
					<span aria-hidden="true">04</span>ABOUT
				</a>
			</li>
		</ul>
	</nav>

</header>