<header class="primary-header flex">
	<div class="logo-container">
		<img src="/static/assets/blog-images/logo.svg" class="logo">
	</div>

	<button class="mobile-nav-toggle" href="#"  aria-controls="primary-navigation" aria-expanded="false">
		<i class="icon">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</i>
		<span class="sr-only">Menu</span>
	</button>

	<nav>
		<ul id="primary-navigation" data-visible="false" class="nav-list primary-navigation flex">
			<li class="nav-list-item active">
				<a href="{{url_for('blog')}}" class="nav-link text-dark-gray uppercase">
					<span aria-hidden="true">01</span>POSTS
				</a>
			</li>
			<li class="nav-list-item">
				<a href="{{url_for('category')}}" class="nav-link text-dark-gray uppercase">
					<span aria-hidden="true">02</span>CATEGORIES
				</a>
			</li>
			<li class="nav-list-item">
				<a href="{{ url_for('covid') }}" class="nav-link text-dark-gray uppercase">
					<span aria-hidden="true">03</span>Cordle
				</a>
			</li>
			<li class="nav-list-item">
				<a href="{{url_for('about')}}" class="nav-link text-dark-gray uppercase">
					<span aria-hidden="true">04</span>ABOUT
				</a>
			</li>
		</ul>
	</nav>

</header>